.btn {
    padding: 10px 32px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 2px solid theme-color("amazon");
    transition: 
        background-color ease-in-out .3s,
        color ease-in-out .3s,
        border ease-in-out .3s;

    &.btn-primary {
        background-color: theme-color("amazon");
        color: color("white");
    }

    &.btn-secondary {
        box-sizing: border-box;
        color: theme-color("amazon");
    }
    
    &.btn-right {
        margin-left: 24px;
    }

    &:hover {
        background-color: theme-color("iguana-green");
        color: theme-color("deep-space-sparkle");
        border: 2px solid theme-color("iguana-green");
    }
}