footer {
    padding: 0px 128px;
    width: 100%;
    height: auto;
    background-color: theme-color('deep-space-sparkle');

    .brand {
        height: auto;
        padding: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: background-color ease-in-out .3s;
        border-radius: 32px;

        &:hover {
            background-color: rgba(126, 195, 132, 0.3);
        }
    }

    .social-media-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .social-media-link {
            margin: 16px;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            transition: background-color ease-in-out .3s;
            border-radius: 50%;

            &:hover {
                background-color: rgba(126, 195, 132, 0.3);
            }
        }
    }

    .copyright {
        font-size: 14px;
        line-height: 21px;
        color: color("white");
        padding: 0;
    }
}