.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0;

    .col-4 {
        grid-column: span 4;

        &-flex-start-center {
            grid-column: span 4;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-flex-center-center {
            grid-column: span 4;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-flex-end-center {
            grid-column: span 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}